*{
    font-family: "Segoe UI", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #ffffff;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: rgb(55, 171, 55);
    max-width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 35px;
    border-radius: 10px;
    user-select: none;
}

#Display-area{
    width: 100%;
    margin: 3vh 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2,minmax(40px,auto));
    word-wrap: break-word;
    padding-bottom: 20px;
    border-bottom: 1px rgba(33, 23, 13, 0.639) solid;
}
#Display-area .currentInput{
    /*display:flex;*/
    text-align: right;
    height: 8vh;
    color: rgb(238, 243, 247);
    font-size: xx-large;
    line-height: 2;
    word-wrap: break-word;
}
#Display-area .answerScreen{
    text-align: right;
    color: rgb(26, 20, 20);
    height: 7px;
    line-height: 3;
    font-size: larger;
}
.keypad-btns {
    display: grid;
    grid:repeat(5,70px)/repeat(4,70px);
    grid-row-gap: 20px;
    grid-column-gap:20px;
}
.keypad-btns button{
    outline: none;
    border: none;
    border-radius: 122px;
    background-color:white;
    color: black;
    font-size: x-large;
}
.keypad-btns .fun_btn{
    color: rgb(205, 100, 100);
    background: rgb(23, 209, 223);
    font-weight: bold;
}
.num_btn:hover{
    background-color: wheat;
}
.fun_btn:hover{
    background-color: rgb(250, 240, 240);
}
@media only screen and (max-width:600px){
    body{
        background-color: #131313;
        align-items: flex-start;
    }
}