#Parent {
    background-color: black;
    margin: 50px auto;
    border: 2px solid black;
    padding: 3.1vh 1vh;
    width: 36vw;
    border-radius: 20px;
    box-shadow: inset 5px 5px 5px rgb(142, 116, 116),
    inset -5px -5px 5px rgb(104, 89, 89) ;
    mix-blend-mode: multiply;
    max-width: 300px;
    min-width: 200px;
}

.btnParent{
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 95%;
    margin: 0 auto;
}

button{
    justify-items: center;
    color: rgb(29, 27, 26);
    background-color: rgb(200, 202, 202);
    box-shadow: inset 2px 2px 2px;
    border-radius: 15px;
    padding:3vh 1vh;
    font-size: 2.5vh;
    font-weight: bolder;
    box-sizing: border-box;
}

 #output {
    background-color: rgb(97, 112, 109);
    color: whitesmoke;
    display: grid;
    vertical-align: center;
    line-height:7vh;
    border: 2px solid black;
    border-radius: 8px;
    padding: 0 1.2vh;
    box-sizing: border-box;
    height: 7.5vh;
    width: 90%;
    margin: 20px auto;
    font-size: 1.5em;
    
    text-align: end;
    word-wrap: break-word;
    overflow: hidden;
} 

#output:hover{
    transform: scale(1.02);
    background-color: rgb(97, 112, 109);
    box-shadow: inset 2px 2px 2px rgb(81, 78, 78);
    color: white;
    
}


#allClear{
    font-size: 0.7em;
    
}

#data-equal{
    grid-row: 4/ 6;
    grid-column: 4 / 4;
    background-color: rgb(232, 168, 66);
}

button:hover{
    cursor: pointer;
    color: whitesmoke;
    background-color: rgb(97, 112, 109);
    box-shadow: inset 2px 2px 2px rgb(81, 78, 78);
    transform: scale(1.02);
}

#data-remove{
    font-size: 0.7em;
}

.zero{
    grid-row: 5/ 5;
    grid-column: 1 / 3;
}

